/*!Cambiar el colo de los texto por que aqui son diferentes a los de homepage*/
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /*?Deja el contenido arriba siempre muy GOD*/
  align-items: center;
  min-height: 100vh; /* Ocupa al menos el tamaño completo de la ventana */
  padding: 10px; /* Espaciado alrededor del contenido */
  box-sizing: border-box;
  padding-top: 75px; /*Baja el contenido para que no quede por debajo de la navbar*/
  /* background-color: blueviolet; */
}

.about-tittle {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 0rem;
  align-items: start;
  justify-content: start;
  margin-top: 0; /* Elimina cualquier margen superior */
  margin-bottom: 0; /* Elimina el margen inferior */
}

.about-text {
  font-size: 1.2rem;
  color: #000000;
  max-width: 600px;
  text-align: start;
  margin: 0.5rem;
}

/* Clase genérica para los contenedores de botones */
.about-section {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en nuevas filas */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 15px; /* Espacio entre los elementos */
  max-width: 100%; /* Asegura que el contenedor no exceda el ancho disponible */
  max-height: 100%;
  padding: 10px; /* Espaciado alrededor del contenido */
}

.about-section h2 {
  width: 100%; /* Asegura que el título ocupe todo el ancho del contenedor */
  margin-bottom: 20px; /* Espacio entre el título y los elementos */
  text-align: center; /* Centra el texto del título */
}

.tech-item {
  display: flex;
  flex-direction: row; /* Alinea la imagen y el texto en una fila horizontal */
  align-items: center; /* Centra verticalmente los elementos hijos */
  width: 100px; /* Ancho fijo para cada tech-item */
  margin: 0; /* Elimina márgenes para control preciso del espaciado */
}

.social-icon {
  width: 150px; /* Ancho de la imagen */
  height: 150px; /* Altura de la imagen */

}

.tech-details {
  display: flex;
  flex-direction: column; /* Coloca el nombre y la versión en una columna vertical */
}

.tech-name {
  font-size: 1rem; /* Tamaño de fuente del nombre */
}

.tech-version {
  font-size: 0.8rem; /* Tamaño de fuente de la versión */
  color: #666666; /* Color del texto de la versión */
}




/**Media query para dispositivos con tamano de 1024px en adelante*/
@media (min-width: 1024px) {
  .about-buttons{
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    max-width: 1000px;
  }
  .about-text{
    max-width: 1000px;
  }

}










/* @media (min-width: 1024px) and (max-width: 1200px) {
  .about-buttons{
    display: flex;
    flex-direction: row;
  }
  
} */
