/* Estilos para la sección de contacto */
.secciones.seccion-contacto {
    text-align: center; /* Centra el contenido horizontalmente */
    margin-bottom: 30px; /* Ajusta el margen inferior para separar de la siguiente sección */
  }
  
  /* Estilos para el título h2 de la sección de contacto */
  .secciones.seccion-contacto h2 {
    margin-bottom: 10px; /* Ajusta el margen inferior del h2 */
  }
  
  /* Estilos para el contenedor de la entrada (input) y el icono en la sección de contacto */
  .secciones.seccion-contacto .input-container {
    max-width: 400px; /* Establece el ancho máximo */
    margin: 0 auto; /* Centra horizontalmente */
    display: flex; /* Usa flexbox para alinear los elementos en una columna */
    flex-direction: column; /* Coloca los elementos en una columna */
  }
  
  /* Estilos para los tipos de entrada */
  .input-text,
  .input-email {
    flex: 1; /* Hace que el tipo de entrada ocupe el espacio disponible */
    max-width: 100%; /* Establece el ancho máximo del tipo de entrada */
    margin-bottom: 10px; /* Añade margen inferior */
  }
  
  /* Estilos para los iconos */
  .icono-linkedln,
  .icono-email {
    margin-right: 10px; /* Ajusta el margen derecho entre el icono y la entrada */
    width: 30px; /* Ajusta el ancho según sea necesario */
    height: 30px; /* Ajusta la altura según sea necesario */
  }
  
  .input-with-icon {
    display: flex; /* Usa flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Alinea los elementos alrededor del espacio disponible */
  }
  
  .icono-Enviar,
  .icono-copy {
    margin-left: 10px; /* Ajusta el margen izquierdo entre los tipos de entrada y los iconos */
    width: 25px; /* Ajusta el ancho según sea necesario */
    height: 25px; /* Ajusta la altura según sea necesario */
    cursor: pointer;

  }
  
  /* Estilos para el contenedor de iconos al final */
  .icon-container {
    margin-top: 10px; /* Ajusta el margen superior entre los pares de entrada e icono */
    display: flex; /* Usa flexbox para alinear los iconos */
    justify-content: flex-end; /* Alinea los iconos a la derecha */
  }
  /* Estilos para los iconos */
  .icon-container img {
    margin-left: 10px; /* Ajusta el margen izquierdo entre los iconos */
  }