/* Estilos para la barra de navegación */

.Navbar {
  background-color: #000000;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.Navbar ul {
  margin: 0;
  padding: 0;
  display: flex; /* Hace que los elementos de la lista se distribuyan en una línea */
}

.Navbar li {
  margin-left: 24px; /* Agrega margen izquierdo al primer elemento */
}

.Navbar ul li a {
  text-decoration: none; /* Eliminar el subrayado de los enlaces */
  color: #fff; /* Color del texto de los enlaces */
  font-size: 27px; /* Tamaño de fuente de los enlaces */
}

.Navbar ul li a:hover {
  color: rgb(229, 83, 54); /* Cambiar color del texto al pasar el mouse */
}

.logoCdl {
  width: 14vw; /* Ancho de la imagen */
  /* margin-right: 1200px; Margen derecho para separar el logo de los enlaces */
}

/*!CSS acomodado para solucionar el error de la navbar en dispositivos de  768px* se cambio el media query de 768 a 767*/
@media screen and (max-width: 767px) {
  .Navbar {
    flex-direction: column;
    align-items: center;
    padding: 1px 20px ; /*Cambie los valores para el ancho de la navbar en dispositivos mb*/
  }

  .Navbar ul {
    margin-top: 10px;
  }

  .Navbar li {
    margin-left: 0;
  }

  .logoCdl {
    align-self: center;
    width: 25vw;
  }

  .burguer {
    align-self: flex-start;
  }
}

/**********************************************************************************************/ 


.burguer {
  @media (min-width: 768px) {
    display: none;
  }
}

.BgDiv {
  background-color: #000000;
  position: fixed; /* Cambiado de absolute a fixed */
  top: -2000px;
  left: -2000px;
  width: 100%;
  height: 100%;
  z-index: 9998; /* Un valor alto pero menor que .items */
  transition: all 0.6s ease;
}

.BgDiv.active {
  border-radius: 0 0 80% 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.items {
  position: absolute;
  top: -700px;
  left: -2000px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: all 0.5s ease;
}

.items a {
  color: white;
  font-size: 2rem;
  display: block;
}

@media (min-width: 768px) {
  .items {
    position: initial;
    margin: 0;
  }

  .items a {
    font-size: 1rem;
    color: white;
    display: inline;
  }
}

.items.active {
  width: 100%;
  display: block;
  position: fixed; /* Cambiado de absolute a fixed */
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999; /* Asegúrate de que este valor sea mayor que el de .BgDiv */
}

.items.active a {
  color: #ffffff;
}

.no-scroll {
  overflow: hidden;
}
